/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

h1 {
  color: var(--color_contrast);
  font-size: 2.5rem;
  font-weight: 900;
}

h2 {
  color: var(--color_contrast);
  font-size: 1.5rem;
}

button {
  font-size: 1rem;
  padding: 0.5rem;
  color: white;
  font-weight: bold;
  background: var(--color_contrast);
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

table {
  width: 100%;
  overflow-x: scroll;
}
table,
th,
td {
  border: 1px solid black;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  /* background: gray; */
}
/* th:nth-child(odd) {
} */
table tr:nth-child(odd) {
  background: var(--secondary_color);
}

.action_btns {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.centerHeading {
  width: 100%;
  justify-content: center;
  display: flex;
  color: black;
  font-size: 2.2rem;
  z-index: 2;
}

.form_section {
  background: white;
  border-radius: 0.5rem;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: 100%;
  z-index: 2;
  /* overflow-y: auto; */
}

.left_circle,
.right_circle {
  height: 40vh;
  width: 20%;
  z-index: 1;
  position: absolute;
  color: white;
  background: var(--color_contrast);
}

.left_circle {
  border-bottom-right-radius: 80%;
  left: 0;
}

.right_circle {
  border-top-left-radius: 80%;
  border-bottom-left-radius: 80%;

  bottom: 0 !important;
  right: 0;
}

.upload {
  position: fixed;
  right: 2%;
  top: 90%;
  z-index: 10;
  font-size: 3.5rem;
  background: white;
  width: fit-content;
  line-height: 0;
  border-radius: 45% 50%;
  padding: 3px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

form {
  width: 100%;
  display: grid;
  grid-template-columns: auto;
}

input {
  padding: 0.3rem;
  margin-top: 1rem;
  font-size: 1rem;
  border: 0.5px solid black;
}

.two_inps {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.two_inps input {
  width: 47%;
}

.form_btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 0.5rem;
}

.form_btn button {
  width: 50%;
}

.disp_none {
  display: none;
}

.disp_block {
  display: block;
}

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
} */

/* @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

  .card {
    padding: 2em;
  }

  .read-the-docs {
    color: #888;
  } */

@media screen and (max-width: 600px) {
  .left_circle,
  .right_circle {
    width: 50%;
  }

  .left_circle {
    border-bottom-right-radius: 120%;
  }

  .right_circle {
    border-top-left-radius: 120%;
  }

  .form_section {
    overflow: auto;
  }
}
