.tp {
  height: 90vh;
  max-height: 100%;
  /* background: var(--secondary_color); */
  /* padding-top: 1.5rem; */
  /* padding-top: 25vh; */
  /* margin-top: 20vh; */
  display: grid;
  grid-template-columns: auto;
  /* align-items: center; */
  justify-content: center;
  /* width: 100vw; */
}

.tp > h1,
.tp > .form_section {
  margin-top: 2.5rem;
}
